<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task</title>
    <!--MAIN CSS
    To connect HTML with CSS on Flask
    -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <!--BOOTSTRAP4-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css">
    <!--Font Family-->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>
    <main class="container p-4">
        <h1 class="display-4 text-center mt-4">Task App</h1>
        <div class="row">
            <div class="col-md-4 offset-md-4 my-auto">
                <div class="card">
                    <div class="card-header">
                        <!-- To connect frontend with backend new routes besides from home "/" -->
                        <form action='/create-task' method="POST">
                            <div class="form-group">
                                <!-- name='content' is the id to specify to frontend -->
                                <input type='text' name='content' placeholder='task' class="form-control" autofocus />
                            </div>
                            <button type='submit' class="btn btn-primary btn-block">
                                Save
                            </button>
                        </form>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <!-- syntaxis especial de flask on html-->
                            <!-- Looping each column on table-->
                            {% for task in list_tasks %}
                            <li class="list-group-item">
                                {{task.content}}
                                <a href="" class="btn btn-success btn-sm">Done</a>
                                <a href="" class="btn btn-danger btn-sm">Delete</a>
                            </li>
                            <!--Endline of loop until the last colum -->
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </main>
</body>

</html>